/* Coolors Exported Palette - coolors.co/3579b5-86bbd8-022b3a-9dbf9e-b4ceb3 */

/* HSL */
$color1: hsla(208%, 55%, 46%, 1);
$color2: hsla(201%, 51%, 69%, 1);
$color3: hsla(196%, 93%, 12%, 1);
$color4: hsla(122%, 21%, 68%, 1);
$color5: hsla(118%, 22%, 75%, 1);

/* RGB */
$color1: rgba(53, 121, 181, 1);
$color2: rgba(134, 187, 216, 1);
$color3: rgba(2, 43, 58, 1);
$color4: rgba(157, 191, 158, 1);
