@import "_variables";
@import "_color";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size * 0.8;
}

h1 {
  color: $color3;
  font-size: $font-base-size * 3;
}

h2 {
  color: $color1;
  font-size: $font-base-size * 2.35;
}

h3 {
  color: darken($color4, 20%);
  font-size: $font-base-size * 2;
}

h4 {
  color: $color3;
  font-size: $font-base-size * 1.75;
}

h5 {
  color: $color1;
  font-size: $font-base-size * 1.25;
}

h6 {
  color: darken($color4, 20%);
  font-size: $font-base-size;
}

a {
  font-weight: bold;
  color: lighten($color3, 20%);

  &:hover {
    text-decoration: underline;
  }
}

input,
textarea {
  font-family: $serif-fonts;
  background-color: $color4;
  color: $color3;
  border-radius: $border-base-radius;
  border: 1px solid $color3;

  &.danger {
    color: #fff;
    background-color: red;
  }
}

img {
  border-radius: $border-base-radius;
}

table {
  background-color: $color3;
  border-radius: $border-base-radius;
  font-family: $serif-fonts;

  thead {
    background-color: $color1;
    color: lighten($color4, 20%);
  }

  tbody {
    background-color: $color4;
  }
}
