@import "_variables";
@import "_color";

h1 {
  font-family: $serif-fonts;
  color: $color3;
  font-size: $font-base-size * 3;
}

h2 {
  font-family: $serif-fonts;
  color: $color1;
  font-size: $font-base-size * 2.35;
}

h3 {
  font-family: $serif-fonts;
  color: darken($color4, 20%);
  font-size: $font-base-size * 2;
}

h4 {
  font-family: $serif-fonts;
  color: $color3;
  font-size: $font-base-size * 1.75;
}

h5 {
  font-family: $serif-fonts;
  color: $color1;
  font-size: $font-base-size * 1.25;
}

h6 {
  font-family: $serif-fonts;
  color: darken($color4, 20%);
  font-size: $font-base-size;
}

p {
  font-family: $serif-fonts;
  font-size: $font-base-size * 0.7;
}

a {
  font-family: $serif-fonts;
  font-weight: bold;
  font-size: $font-base-size;
  color: lighten($color3, 20%);
}

a:hover {
  text-decoration: underline;
}

input,
textarea {
  font-family: $serif-fonts;
  background-color: $color4;
  color: $color3;
  border-radius: $border-base-radius;
}

input.danger {
  background-color: red;
}

img {
  border-radius: $border-base-radius;
}

figure {
  font-family: $serif-fonts;
  font-size: $font-base-size * 0.7;
}

table {
  background-color: $color2;
  border-radius: $border-base-radius;
  font-family: $serif-fonts;

  thead {
    color: $color4;
    font-weight: bold;
    background-color: $color3;
  }

  tbody {
    background-color: $color4;
  }
}
